
# --- THE NETWORK POLICY ---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "appointment-booking-server.fullname" . }}-network-security
  namespace: {{ .Release.Namespace }}  # Ensure this matches your deployment's namespace
spec:
  # 1. Which pods are we protecting? (The Backend)
  podSelector:
    matchLabels:
      app: {{ include "appointment-booking-server.fullname" . }}

  policyTypes:
    - Ingress

  # 2. Who is allowed to talk to them?
  ingress:
    - from:
        # Loop through the list of allowed pods from values.yaml
        - podSelector:
            matchExpressions:
              {{- range .Values.networkPolicy.allowedPods }}
              - key: {{ .key }}
                operator: {{ .operator }}
                values:
                    {{- toYaml .values | nindent 18 }}
              {{- end }}


        # Always allow the Ingress Controller
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
      ports:
        - protocol: TCP
          port: 8083