
spring:
  application:
    name: appointment-booking
  main:
    allow-bean-definition-overriding: true
  threads:
    virtual:
      enabled: true
  # DATABASE CONFIG
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  data:
    jdbc:
      dialect: postgresql
  liquibase:
    enabled: true
    change-log: classpath:db/migrations/changelog.sql
  jackson:
    parser:
      allow-unquoted-field-names: true
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${AUTH_SERVER_TOKEN_URL}
          issuer-uri: ${ISSUER_URI}

# CORS branchConfigs
allowed_origins:
  urls: ${CORS_ALLOWED_ORIGIN:*}
  cache_period: ${CORS_CERTS_CACHE_PERIOD:30}

# KEYCLOAK CONFIG
keycloak:
  realm: ${KEYCLOAK_REALM}
  domain: ${KEYCLOAK_DOMAIN}
  adminClientId: ${KEYCLOAK_ADMIN_CLIENT_ID}
  adminClientSecret: ${KEYCLOAK_ADMIN_CLIENT_SECRETE}
  scope: ${KEYCLOAK_ADMIN_SCOPE}
  grant_type: ${KEYCLOAK_ADMIN_GRANT_TYPE}
  client: ${KEYCLOAK_CLIENT_TYPE}
  urls:
    auth: ${KEYCLOAK_AUTH_URL}
  user_auth_type: ${KEYCLOAK_USER_AUTH_TYPE}
  password: ${KEYCLOAK_PASSWORD}
  username: ${KEYCLOAK_USERNAME}

# OTP CONFIG
otp:
  expire:
    datetime: ${OTP_EXPIRE_DATETIME_IN_MINUTES:5}
  number:
    verification:
      attempts: ${OTP_NUMBER_VERIFICATION_ATTEMPTS:3}
# Kafka
kafka:
  replica: ${KAFKA_REPLICAS:3}
  listen:
    auto:
      start: false
  error:
    persistence:
      enabled: true
  common-config:
    bootstrap-servers: ${BROKER_BOOTSTRAP_SERVERS}
    topic-names: ${EVENT_TOPICS}
  consumer-config:
    group-id: users-service-otp
    none-retryable-exceptions:
      - org.apache.kafka.common.errors.TimeoutException
      - org.apache.kafka.common.errors.NotEnoughReplicasAfterAppendException
      - org.apache.kafka.common.errors.NotEnoughReplicasException
      - java.sql.SQLException
      - java.sql.SQLTimeoutException
      - java.sql.SQLClientInfoException
      - jakarta.ws.rs.InternalServerErrorException
      - capitec.branch.appointment.exeption.MailSenderException
      - org.eclipse.angus.mail.util.MailConnectException
      - org.eclipse.angus.mail.util.MailConnectException
      - org.apache.kafka.common.errors.TimeoutException
      - org.apache.kafka.common.errors.NotEnoughReplicasAfterAppendException
      - org.apache.kafka.common.errors.NotEnoughReplicasException
      - org.springframework.kafka.support.serializer.DeserializationException
      - jakarta.mail.MessagingException
    event-publisher-default-impl:
      enabled: true

    allowed-packages-subdirectories: ${TRUSTED_PACKAGES_SUBDIRECTORIES}

# Email
mail:
  host: ${MAIL_HOST}
  protocol: "smtp"
  port: 465
  username: ${MAIL_USERNAME}
  password: ${MAIL_PASSWORD}
# CLIENT-DOMAIN
client-domain:
  baseurl: ${CLIENT_DOMAIN_BASE_URL:http://localhost:8083}


# END POINT MANAGEMENT
management:
  endpoints:
    web:
      exposure:
        include: "*"

  endpoint:
    shutdown:
      enabled: true
  info:
    env:
      enabled: true
server:
  port: 8083

# SLOTS CONFIGS
branch-slot:
  branch-configs:
    default:
      WEEK_DAYS:
        slot-duration: ${WEEK_DAY_SLOT_DURATION:30M}
        staff-count: ${WEEK_DAY_STAFF_COUNT:5}
        utilization-factor: ${WEEK_DAY_UTILIZATION_FACTOR:0.5}
        open-time: ${WEEK_DAY_OPEN_TIME:08:30}
        closing-time: ${WEEK_DAY_CLOSING_TIME:17:30}
        slot-day-type: WEEK_DAYS
        max-booking-capacity: 2
      WEEKEND:
        slot-duration: ${WEEKEND_SLOT_DURATION:30M}
        staff-count: ${WEEKEND_STAFF_COUNT:3}
        utilization-factor: ${WEEKEND_UTILIZATION_FACTOR:0.25}
        open-time: ${WEEKEND_OPEN_TIME:09:00}
        closing-time: ${WEEKEND_CLOSING_TIME:15:00}
        slot-day-type: WEEKEND
        max-booking-capacity: 1
      HOLIDAY:
        slot-duration: ${HOLIDAY_SLOT_DURATION:30M}
        staff-count: ${HOLIDAY_STAFF_COUNT:3}
        utilization-factor: ${HOLIDAY_UTILIZATION_FACTOR:0.1}
        open-time: ${HOLIDAY_OPEN_TIME:09:00}
        closing-time: ${HOLIDAY_CLOSING_TIME:13:00}
        slot-day-type: HOLIDAY
        max-booking-capacity: 1
  branch-use-default-configs:
    - BR004
    - BR005


holidays-client:
  baseurl: ${HOLIDAYS_CLIENT_API:https://dateOfSlots.nager.at}

slot:
  rolling-window-days:
    init-value: ${SLOT_GENERATION_ROLLING_WINDOW_DAYS_INIT:7}
    daily-value: ${SLOT_GENERATION_ROLLING_WINDOW_DAYS_DAILY:1}
  cron: ${SLOT_SCHEDULAR_CRON:0 30 0 * * *}
  generation-errors:
    retryables: []


