spring:
  application:
    name: appointment-booking
  # DATABASE CONFIG
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  data:
    jdbc:
      dialect: postgresql
  liquibase:
    enabled: true
    change-log: classpath:db/migrations/changelog.sql
  jackson:
    parser:
      allow-unquoted-field-names: true