replicaCount: 1
# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  pullPolicy: IfNotPresent
  # Repository and Tag MANAGED BY DEVOPS REPO, MANUAL EDITING MIGHT CAUSE ERRORS!!!!!!!!!!
  repository: appointment-booking-web-client # This sets the pull policy for images.
  tag: "latest"

# This is for the secretes for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""
#This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""
# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/ 
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}
podSecurityContext: {}
# fsGroup: 2000

securityContext: {}
# capabilities:
#   drop:
#   - ALL
# readOnlyRootFilesystem: true
# runAsNonRoot: true
# runAsUser: 1000

# This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
service:
  # This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
  type: NodePort
  # This sets the ports more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#field-spec-ports
  port: 3000
  targetPort: 3000
# This block is for setting up the ingress for more information can be found here: https://kubernetes.io/docs/concepts/services-networking/ingress/
ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
  hosts:
    - host: ""
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: appointment-booking-web-client
              port:
                number: 3000
  tls: []
resources:
  limits:
    cpu: 256m
    memory: 768Mi
  requests:
    cpu: 256m
    memory: 768Mi
# This is to setup the liveness and readiness probes more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
livenessProbe:
  httpGet:
    path: /health
    port: 3000
  initialDelaySeconds: 30
  failureThreshold: 6
  periodSeconds: 20
readinessProbe:
  httpGet:
    path: /health
    port: 3000
  failureThreshold: 6
  periodSeconds: 20
#This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 75
  targetMemoryUtilizationPercentage: 75
baseEnv:
  - name: ENVIRONMENT
    value: "default"
  - name: VITE_API_BASE_URL
    value: "http://appointment.server.local"
  - name: VITE_INTERNAL_BASE_URL
    value: "http://appointment.server.local"
  - name: VITE_API_RETRIES
    value: "3"
  - name: VITE_CUSTOM_HEADERS
    value: "{X-CLIENT_TYPE:CAPITEC_APPOINTMENT_BOOKING_WEB_CLIENT}"
  - name: VITE_API_TIMEOUT
    value: "10"
  - name: VITE_REALM
    value: "capitec_appointment-DEV"
active: true
rbac:
  create: true
  resources:
#    - "configmaps"
    - "pods"
    - "services"
    - "endpoints"
#    - "secrets"
  verbs:
    - "get"
    - "list"
    - "watch"